<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
    <title>Progressive Web Apps</title>
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="build/css/app.css">
    <link rel="manifest" href="manifest.json">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="apple-mobile-web-app-title" content="Wisdom coffee">
    <meta name="apple-touch-icon" content="images/icons/icon-152x152.png">

    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

</head>
<body>
    <div class="loader">
        <div class="loader-text">Loading...</div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-toggle="collapse"
                            data-target="#collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#slideshow" class="navbar-brand">

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation" class="active"><a href="#slideshow">Slideshow</a></li>
                        <li role="presentation"><a href="#specials">Пропозициї</a></li>
                        <li role="presentation"><a href="#appointments">Асортімент</a></li>
                        <li role="presentation"><a href="#coffee">Кава</a></li>
                        <li role="presentation"><a href="#rules">Правила</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <img class="kavusya-logo" src="images/kavusya-logo.svg">
    <script id="slideshow-template" type="text/x-handlebars-template">
        <div class="carousel fade" data-ride="carousel" id="slideshow">
            <div class="carousel-inner">
                    {{#each slideshow}}
                        {{#if @first}}
                <div class="item active"><img src="images/slides/{{filename}}.jpg" alt="{{coffee}} photo"></div>
                        {{else}}
                <div class="item"><img src="images/slides/{{filename}}.jpg" alt="{{coffee}} photo"></div>
                        {{/if}}
                    {{/each}}
            </div><!--carousel inner -->
            <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#slideshow" role="button" data-slide="next"></a>
        </div><!--carousel fade -->
    </script>
    <div id="slideshow-content">

    </div>
    <main>
        <!-- page about -->
        <div class="page about" id="about">
            <div class="container">
                <div class="container">
                    <h2><em>Завiтайте</em>до Кавусi</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!--<div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="images/page-1_img01.jpg" alt=""></div></div>-->
                            <p class="center indents-1">
                                Кавуся - це зовсім крихітна кав’ярня, фактично продовження парадного. Ми знаємо наших клієнтів, та робимо каву саме так, я вони люблять.
                                Ми як добрі сусіди, до яких приємно забігти за келихом смачної кави та гарним настроєм перед початком робочого дня.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!--<div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="images/page-1_img02.jpg" alt=""></div></div>-->
                            <p class="center indents-1">
                                Ми дуже піклуємося про якість нашої кави. Каву нам обжарюють перед доставкою до кав’ярні. Ми замовляємо невеличкими упаковкамі, та піклуємся, щоб на протязі дня кава готувалася лише зі свіжозмелених  зерен. Нашу кавомашину привезено для нас з Италії, а воду ми використовуємо лише з арезіанського джерела. Тому наша кава така смачна.
                            </p>
                        </div>
                    </div>
                    <div class="decoration"><!--<a href="#" class="btn">Read more</a>--></div>
            </div>
            </div>
            <!-- container -->
        </div>
        <!-- page about -->

        <div class="page specials" id="specials">
            <div class="container">
                <h2><em>Свято капучино</em>в Кавусi</h2>
                <!--<p>Some text by topic. Click on photo for more information.</p>-->
                <script id="specials-template" type="text/x-handlebars-template">
                    {{#each specials}}
                        <div class="col-md-2 col-sm-3 col-xs-4 opencoffeemodal" data-toggle="modal" data-target="#wisdomcoffeemodal" data-coffeename="{{coffee}}" data-coffeebreed="{{breed}}" data-coffeeowner="{{owner}}" data-coffeeinfo="{{description}}" data-coffeeimage="{{filename}}">
                            <img class="img-circle" src="images/menu/{{filename}}_tn.png" alt="{{coffee}} photo">
                            <!-- column -->
                        </div>
                    {{/each}}
                </script>
                <div id="specials-content"></div>

            </div>
            <!-- container -->
        </div>
        <!-- page specials -->

        <div class="page assortment" id="appointments">
            <div class="container">
                <h2 class="page-headline">
                    Ассортимент
                </h2>

                <!--<p>Some text by topic. Click on photo for more information.</p>-->

                <script id="appointments-template" type="text/x-handlebars-template">
                    {{#each appointments}}
                        <div class="appointment media opencoffeemodal"  data-toggle="modal" data-target="#wisdomcoffeemodal" data-coffeename="{{coffee}}" data-coffeebreed="{{breed}}" data-coffeeowner="{{owner}}" data-coffeeinfo="{{reason}}" data-coffeeimage="{{filename}}">
                            <div class="custom-media-head">
                                <img src="images/menu/{{filename}}_tn.png" alt="{{coffee}} photo" class="media-object appointment-img img-rounded">
                            </div> <!-- media left media top -->
                            <div class="custom-media-body">
                                <h3 class="media-heading">{{coffee}},
                                    <span class="appointment-breed">{{breed}}</span>
                                </h3>
                                <!--<div class="appointment-owner"><span class="appointment-owner-title">Owner: </span>-->
                                <!--<span class="appointment-owner-name">{{owner}}</span>-->
                                <!--</div>-->
                                <!--<div class="appointment-reason">{{reason}}</div>-->
                            </div>
                            <!-- media-body -->
                        </div>
                        <!-- appointment media openmodal -->
                    {{/each}}
                </script>

                <div id="appointments-content"></div>

            </div>
            <!-- container -->
        </div>

        <!-- page special -->

        <div class="page about parallax parallax1 skrollable skrollable-between" id="coffee"  data-stellar-background-ratio="0.5">
            <div class="container">
                <h2><em>Наша</em>кава</h2>

                <div class="row">
                    <div class="grid_6">
                        <p class="center indents-1">
                            <span class="styled">Гондурас</span> - невеличка країна, що знаходиться у
                            пiвнiчнiй частинi Центральної Америки.
                            Тропiчний клiмат, родюча, низької кислотності грунт вулканічного походження, збагачена органічними елементами і мінералами,
                            дозволяють вирощувати каву високої якості з прекрасними смаковими характеристиками і чудовим ароматом.

                        </p>
                    </div>
                    <div class="grid_6">
                        <p class="center indents-1">
                            <span class="styled">Кава Гондурас </span> -
                            це кращі сорти Арабіки, вирощені на плантаціях, розташованих на схилах гір вулканічного походження. В умовах високогір'я, більш ніж 1500 метрів над рівнем моря, кавові дерева ростуть повільніше, але кавові зерна набувають більш вишукані смак і аромат.
                        </p>
                    </div>
                </div>
                <!--<p class="indents-2">Ми розробили власне меню. Наші напої  гарні, різноманітні та смачні.  У нас все зрозуміло та демократично. </p>-->
                <!--<a href="#" class="btn">View full menu</a>-->
            </div>
            <!-- container -->
        </div>
        <!-- page special -->

        <!-- page special -->

        <div class="prices">
            <div class="prices-box">
                <div class="menu-row">
                    <div class="size-nominal">
                        <div class="small-cup"></div>
                        <div class="medium-cup"></div>
                        <div class="large-cup"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Еспресо</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm">10</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Подвiйне еспресо</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm">19</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Еспресо з молоком</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm">12</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Американо</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm"></div>
                            <div class="md">10</div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Капучино</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm"></div>
                            <div class="md">14</div>
                            <div class="xl">18</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Капучино вiд кавусi</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm"></div>
                            <div class="md">18</div>
                            <div class="xl">21</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Лате</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm"></div>
                            <div class="md">14</div>
                            <div class="xl">18</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Горячий шоколад</div>
                    <div class="price-row">
                        <div class="size">
                            <div class="sm">s</div>
                            <div class="md">m</div>
                            <div class="xl">l</div>
                        </div>
                        <div class="size-price">
                            <div class="sm"></div>
                            <div class="md">14</div>
                            <div class="xl">18</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Молоко</div>
                    <div class="price-row">
                        <div class="size-price">
                            <div class="sm">4</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Сироп</div>
                    <div class="price-row">
                        <div class="size-price">
                            <div class="sm">4</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="name">Мед</div>
                    <div class="price-row">
                        <div class="size-price">
                            <div class="sm">4</div>
                            <div class="md"></div>
                            <div class="xl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page prices -->

        <!-- page rules -->

        <div class="page rules" id="rules">
            <div class="explanations">
                <div class="explanation-item">
                    Ми використовуємо <br>
                    тiлькi<span class="bigger"> 100% Арабiку, </span><br>
                    що обжарюється<br>
                    безпосереднью перед
                    доставкою до нас

                </div>
                <div class="division"></div>
                <div class="explanation-item">
                    Ми використовуємо<br>
                    тiльки <span class="bigger">артезiанську воду</span><br>

                    для приготування кави

                </div>
                <div class="division"></div>
                <div class="explanation-item">
                    Наша кавомашина привезена<br>
                    з Iталi ,<br>
                    кра ни, де якiсть приготування еспресо<br>
                    на першому мiсцi
                </div>
                <div class="division"></div>
                <div class="explanation-item">
                    Ми маємо сертифiкат якостi на нашу каву
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- page rules -->
    </main>
    <footer>
        <div class="container">
            <ul class="socials">
                <li><a href="https://www.facebook.com/%D0%9A%D0%B0%D0%B2%D1%83%D1%81%D1%8F-712640975536072/" class="fa fa-facebook">f</a></li>
                <!--<li><a href="#" class="fa fa-tumblr"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>-->
            </ul>
            <!--<div class="copyright">© <span id="copyright-year"></span> |
                <a href="#">Privacy Policy</a>
            </div>-->
        </div>
        <!--<div class="tm"><a href="#"><img src="images/TM_logo.png" alt=""></a></div>-->
    </footer>

    <div class="modal fade" id="wisdomcoffeemodal" tabindex="-1" role="dialog" area-labelledby="coffeeModal">
        <div class="modal-dialog" data-dismiss="modal" area-lable="Close" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" area-label="Close" role="document">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h2 class="modal-title modal-coffeename"></h2>
                    <!--<div class="modal-coffeebreed"></div>-->
                </div>
                <!-- modal-header -->
                <div class="modal-body">
                    <img class="img-responsive modal-coffeeimage">
                    <!--<p class="modal-coffeeinfo"></p>-->
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal-fade -->

    <script src="build/bundle.js"></script>
</body>
</html>